<article class="card" style="margin-bottom: 1rem">
    {% include post_title_image.html post=post %}
    <div class="card-body">
        <h2>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h2>
        <p>
            {{ post.content | strip_html | truncatewords: 50 }}
        </p>
        <small>
            <a href="{{ post.url }}" class="text-muted">
                Weiterlesen...
            </a>
            <span class="text-muted float-right">{{ post.date | date_to_string }}</span>
        </small>
        <div class="clearfix"></div>
    </div>
</article>