{% assign url = page.path %}
{% assign url = url | replace: '.md','' | prepend: '/assets/images/posts/' | append: '/' %}

{% if page.path contains '_drafts' %}
	{% assign url = url | replace: '_drafts/','0000-00-00-' %}
{% else %}
	{% assign url = url | replace: '_posts/','' %}
{% endif %}

{% assign url = url | append: include.file %}

<figure class="img-thumbnail">
	<a href="{{url}}" target="_blank" class="image">
		<img src="{{url}}" alt="{% if include.alt %}{{ include.alt }}{% else %}Image{% endif %}">
	</a>
	{% if include.caption %}
	<figcaption class="figure-caption">{{include.caption}}</figcaption>
	{% endif %}
</figure>
