html, body {
    height: 100%;
}

body {
    background-color: #efefef;
    background-image: url('/assets/img/bg.png');
    background-attachment: fixed;
    padding-top: 2.5em;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none;
}

.main-container {
    min-height: 100%;
    margin-bottom: -89px;
    padding-bottom: 89px;
}

footer {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

footer a {
    color: #333;
}

footer p {
    padding: 2rem 1.25rem ;
    margin: 0;
}

.card {
    margin-bottom: 1.25rem;
}