html, body {
    height: 100%;
}

body {
    background-color: #efefef;
    background-image: url('/assets/images/bg.png');
    background-attachment: fixed;
    padding-top: 2.5em;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: none;
}

.main-container {
    min-height: 100%;
    margin-bottom: -89px;
    padding-bottom: 89px;
}

footer {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

footer a {
    color: #333;
}

footer p {
    padding: 2rem 1.25rem;
    margin: 0;
}

.card {
    margin-bottom: 1.25rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

h1 { font-size: 2.25rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.00rem; }