
.card-img-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    color: #000;
    
    height: 240px; 
    -webkit-print-color-adjust:exact;
}

#post .card-img-top {
    height: 320px;
}   