#sidebar {
    margin-top: 1.25rem;
}

#sidebar .logo {
    display: block;
    text-align: center;
    margin-bottom: 2.5em;
}

#sidebar .social {
    font-size: 2rem;
    text-align: center;
}

#sidebar .social a {
    color: #000;
}