---
layout: default
---
<article id="post" lang="{{ page.language }}" class="card">
    {% include post_title_image.html post=page %}
    <div class="card-body">
        <small>
            <a href="/" class="text-muted">
                    &laquo; Home
            </a>
            <span class="text-muted float-right">
                {{ page.date | date: "%B %d, %Y" }}
            </span>
        </small>
        <div class="clearfix"></div>

        {% if page.tags or page.keywords %}
        <div class="tag-list">
            {% for tag in page.tags %}
            <span class="badge badge-secondary">
                <i class="fa fa-tag"></i>
                {{tag}}
            </span>
            {% endfor %}
            {% for keyword in page.keywords %}
            <span class="badge badge-secondary">
                <i class="fa fa-tag"></i>
                {{keyword}}
            </span>
            {% endfor %}
        </div>
        {% endif %}

        <div>
          {{ content }}
        </div>
    </div>
</article>

<div class="card">
    <div class="card-body">
        <div id="related">
            <h3>Related Posts</h3>
            <ul class="posts">
                {% for post in site.related_posts limit:5 %}
                <li>
                    <span>{{ post.date | date_to_string }} &raquo;</span>
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>